.my-text {
    font-family: 'Raleway';
    font-size: 40px;
    align-content: center;
    text-align: center;
  }

  .columna{
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .mapa{
    opacity:  0.5;
  }
  .mapa:hover{
    opacity:  1;
  }