<nb-layout>
    <nb-layout-header>
        <nb-layout-column class="colored-column-warning columna"><h3 class="h5 my-text">Bienvenidos a la registraduría</h3></nb-layout-column>
    </nb-layout-header>

    
    <nb-layout-column><img src="https://www.registraduria.gov.co/IMG/jpg/bandera-5.jpg" width="100%" height="400" />
        <br>
        <br>
        <nb-card accent="info">
            <nb-card-header>Inscripción de Ciudadanos Elecciones Territoriales 2023</nb-card-header>
            <nb-card-body>
                Si cambiaste tu lugar de domicilio y desear actualizar tu puesto de votación para participar en estos
                comicios, acude a la Registraduría más cercana para realizar este trámite
            </nb-card-body>
        </nb-card>
        <br>
        <iframe width="100%" height="400" frameborder="0" class="mapa"
            src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=%20Bogota+(colombia)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>



    </nb-layout-column>

</nb-layout>